{% extends 'base.html' %}
{% load static %}

{% block style %}
    <script src={% static 'document/js/jy-write.js' %}></script>
    <link rel="stylesheet" href="{% static 'document/css/main.css' %}">
{% endblock %}

{% block content %}
<div class="report"> 
    <p class="page-title">일일 업무 보고서</p>
    <form action="/document/daily/write" method="POST" onsubmit="return reportWriteValidate()">
        {% csrf_token %}

    <div class="col-sm-12">
        <table class="table table-bordered">
            <tr>
                <td class="table-light " style="vertical-align:middle; text-align : center; font-weight : bold;" rowspan="2">결재</td>
                <td class="table-light " style="width : 50%; font-weight : bold; vertical-align:middle;">작성자</td>
            <td class="table-light " style="font-weight : bold;">
                수신자
               <button id="choice-addressee-btn" class="btn" type="button">수신자 선택</button>    
            </td>
            </tr>
            <tr>
                <td>{{request.session.user_name}}</td>
                <td>
                    <span id="reciever-name"></span>
                    <input type="text" style="display : none;" name="reciever" id="reciever">
                </td>
            </tr>
        </table>
    </div>

    <div> 
        <div class="content-header ">
            <p>작성자</p>
        </div>
        <div class="col-sm-12">
            <div>
                <table class="table table-bordered table-writer-info">
                    <tr>
                        <td class="table-light ">이름</td>
                        <td>{{request.session.user_name}}</td>
                        <td class="table-light ">작성일자</td>
                        <td>{% now "Y년 m월 d일 H:i" %}</td>
                    </tr>
                
                </table>
            </div>
        </div>
    </div> 

    <div class="content-header">
        <p>금일 업무 내용</p>
        <img class="control-images" src="{% static 'document/img/plus.png' %}" width=18 height=18 onclick="Today_button()">
        <img class="control-images" src="{% static 'document/img/minus.png' %}" width=18 height=18 onclick="Today_delete()">
    </div>

    <div class='col-sm-12'>
   
    <div>

    <table class="table table-bordered table-content">
        <thead>
            <tr>
                <td class="table-light ">NO.</td>
                <td class="table-light ">오늘 수행한 업무의 세부 내용</td>
            </tr>
        </thead>
        <tbody id="today_tbody">
        </tbody>
    </table>

    </div></div>
    <div class="content-header">
        <p>명일 업무 계획</p>
        <img class="control-images" src="{% static 'document/img/plus.png' %}" width=18 height=18 onclick="Tomorrow_button()">
        <img class="control-images" src="{% static 'document/img/minus.png' %}" width=18 height=18 onclick="Tomorrow_delete()">
    </div>

    <div class='col-sm-12'>
    <div>
    </div>
    <div>

    <table class="table table-bordered table-content">
        <thead>
        <tr>
            <td class="table-light ">NO.</td>
            <td class="table-light ">내일 수행할 업무의 세부 내용</td>
        </tr>
        </thead>
        <tbody id="tomorrow_tbody">
        </tbody>
    </table>
    </div></div>


    <div class="content-header">
        <p>문제점 및 건의사항</p>
        <img class="control-images" src="{% static 'document/img/plus.png' %}" width=18 height=18 onclick="Trouble_button()">
        <img class="control-images" src="{% static 'document/img/minus.png' %}" width=18 height=18 onclick="Trouble_delete()">

    </div>

    <div class='col-sm-12'>
    <div>
    <table class="table table-bordered table-content">
        <thead>
        <tr>
            <td class="table-light ">NO.</td>
            <td class="table-light ">업무 수행에 대한 문제점 및 건의사항</td>
        </tr>
        </thead>
        <tbody id="trouble_tbody">
        </tbody>
    </table>
    </div></div>

    <div>
    <input type="submit" class='btn btn-primary' name="submit" id="submit" value="제출하기">
    </div>
    </form>
</div>


{% endblock %}