{% extends 'base.html' %}
{% load static %}
{% block depth %}
<div class="depth">
        <span>HOME</span>
        <span>></span>
        <span>BOARD</span>
        <span>></span>
        <span style="color: rgb(12,92,161);">일일보고</span>
    </div>
{% endblock %}
{% block content %}

    <!--외부 css 파일-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/side-bar.css' %}" />

    <div class="container-box">
        <div class="nav">
            <div class="nav-header">
               <p>Board</p>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="{% url 'Main:Viewboard' %}">
                        <p class="text-center" style="margin-top:10px;">

                            <span>Notice</span>
                        </p>
                    </a>
                </li>
                {% if request.session.user_id %}
                <li>
                    <a href="{% url 'Main:Today_Report_Board' %}">
                        <p class="text-center" style="margin-top:10px;">

                            <span>일일보고</span>
                        </p>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="/gallery?page=1">
                        <p class="text-center" style="margin-top:10px;">
                            <span>Gallery</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <h1>일일보고</h1>
            {% block board %}
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                {% for vb in vb %}
                <tbody>
                    <tr>
                        <td>{{ forloop.revcounter }}</td>
                        <td><a href="{% url 'Main:Today_Report_detail' vb.pk %}">{{ vb.Today_Report_title }}</a></td>
                        <td>{{ vb.user }}</td>
                        <td>{{ vb.Today_Report_date|date:"Y/m/d" }}</td>
                        <td>{{ vb.Today_Report_hits }}</td>
                    </tr>
                </tbody>

            {% endfor %}

            {% endblock %}
        </table>
            <a href="{% url 'Main:Write_Today_Report' %}"class="btn btn-default pull-right">글쓰기</a>
        </div>
    </div>
    <hr>
    <script>

        $(".container-box").height($(window).height()-320);
        $(window).resize(function() {
            $(".container-box").height($(window).height()-320);
         });
    </script>
{% endblock %}
