{% extends 'acinsite/board/Writeboard.html' %}
{% load static %}
{% block depth %}
<div class="depth">
        <span>HOME</span>
        <span>></span>
        <span>BOARD</span>
        <span>></span>
        <span style="color: rgb(12,92,161);">Edit</span>
    </div>
{% endblock %}
{% block content %}
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
<!--외부 css 파일-->
<link rel="stylesheet" type="text/css" href="{% static 'css/side-bar.css' %}" />
<div class="container-box">
    <div class="nav">
        <div class="nav-header">
           <p>Board</p>
        </div>
        <ul class="nav-list">
            <li>
                <a href="{% url 'Main:Viewboard' %}">

                    <p class="text-center" style="margin-top:10px;">
                        <span>Notice</span>
                    </p>
                </a>
            </li>
            {% if request.session.user_id %}
            <li>
                <a href="{% url 'Main:Today_Report_Board' %}">
                    <p class="text-center" style="margin-top:10px;">

                        <span>일일보고</span>
                    </p>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="/gallery?page=1">
                    <p class="text-center" style="margin-top:10px;">
                    <span>Gallery</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">

<form action="{% url 'Main:Today_Report_Edit' eb.pk  %}" method="POST" id="formId" value="" enctype="multipart/form-data">
    {% csrf_token %}

        <p>제목:</p>
        <input type='text' id='Today_Report_title' class="form-control" name='Today_Report_title' value="{{ eb.Today_Report_title }}"><br>
        <p>첨부파일:</p>
        {% if eb.board_file %}
            <span style="color:gray;">Currently:</span>
            <a href="/media/{{eb.Today_Report_file}}" download="download">{{eb.Today_Report_file}}</a>
            <input type="checkbox" id="clear" name="clear">
            <label for="clear">clear</label>
            <br>
        {% endif %}
        <span style="color:gray;">Change:</span>
        <input type="file" style="display: inline;" name="file">
        <br>

        <p>내용:</p>
        <!-- <input type='text' id='board_content' name='board_content'  value="{{ eb.board_content }}"> -->
        <div id="summernote">{{ eb.Today_Report_content|safe}}</div>
        <input type="hidden" id="final_Board_content" name="Today_Report_content">
        <input type="button" value="수정" onclick="submit_click();">


</form>
<script>
    function submit_click() {
        boardcontent();
        alert("수정되었습니다.");

    }
 //썸머노트
$(document).ready(function() {
  $('#summernote').summernote();
});

$('#summernote').summernote({
  height: 300,
  minHeight: null,
  maxHeight: null,
  focus: true
});

function boardcontent(){
    var markupStr = $('#summernote').summernote('code');
    $("#final_Board_content").val(markupStr);
    $("#formId").submit();
  }

// 글올리기
function oncheckfile(){
        $("#board_submit").css('display','none');
        $("#upload_comment").css('display','block');
    }

 </script>
 <script>

        $(".container-box").height($(window).height()-320);
        $(window).resize(function() {
            $(".container-box").height($(window).height()-320);
         });
    </script>

{% endblock %}
