{% extends 'acinsite/gallery/main.html' %}
{% load static %}
{% block gallery_depth %}

    <div class="depth">
        <span>HOME</span>
        <span>></span>
        <span>GALLERY</span>
        <span>></span>
        <span style="color: rgb(12,92,161);">
            {% if keyword %}
                갤러리 관리
            {% else %}
                갤러리
            {% endif %}
        </span>
            
    </div>

{% endblock %}
{% block gallery_content %}
    <script src="{%static 'js/jquery.twbsPagination.js'%}"></script>
    <style>
        .img-box{
            width:200px;
            height:300px;
            
            float: left;
            margin-left:20px;
            margin-top:20px;
            cursor: pointer;
            
        }
        .img-box p{
            color:rgb(118,118,118);
            
        }
    </style>
    
    <h4>Gallery</h4>
    <hr>

    <div id="gal-box">
        {% if not object_list %}
            <div class="text-center">
                <p>이미지가 없습니다.</p>
            </div>
        {% endif %}
        {% for obj in object_list %}
            <div class="img-box" >
                <img width="100%" class="img" pk={{obj.pk}} height="180" src="/media/{{obj.galleryref.first.gal_photo}}">
                <p style="width:200px;overflow-x: hidden;">{{obj.gal_title}}</p>
                {% if keyword %}
                    <div>
                        <a href="/gallery/write?pk={{obj.pk}}" class="btn btn-info">수정</a>
                        <a url="{% url 'Main:delete-gallery' obj.pk %}" class="btn btn-danger del-gal">삭제</a>
                    </div>
                {% endif %}
            </div>
           
        {% endfor %}
    </div>
    <div class="text-center" style="clear:both;">
        <nav aria-label="Page navigation" class="d-flex justify-content-center">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
    <script>
        var num=12;
        var page = Math.floor(parseInt("{{total_count}}")/num);

        if (parseInt("{{total_count}}") % num != 0){
            page++;
        }
       $('#pagination').twbsPagination({
            totalPages:page,    //총 페이지 갯수
            visiblePages:10,    //보여줄 페이지
            startPage:parseInt("{{page}}"),
            initiateStartPageClick:false,
            prev:'이전',
            next:'다음',
            first:'',
            last:'',
            
            onPageClick: function (event, page) {
                
                if(parseInt("{{page}}") != page){
                    window.location.href="/gallery?page="+page;
                }
                
            }
            });
        //이미지 클릭시
        $(".img").click(function(){
            window.location.href="/gallery/detail/"+$(this).attr("pk")+"/";
        });    

        //갤러리 삭제버튼 클릭시
        $(".del-gal").click(function(){
            if(confirm("삭제하시겠습니까?")){
                
                window.location.href=$(this).attr("url");
            }
        });
    </script>

{% endblock %}