{% extends 'base.html' %}
{% load static %}
{% block depth %}
    {% block gallery_depth %}
    {% endblock %}
{% endblock %}
{% block content %}
    <!--외부 css 파일-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/side-bar.css' %}" />
    
    <div class="container-box">
        <div class="nav">
            <div class="nav-header">
               <p>Project</p>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="/gallery?page=1">
                        <p class="text-center" style="margin-top:10px;">
                            <span>갤러리</span>
                        </p>
                    </a>
                </li>
                {% if request.session.user_id %}
                <li>
                    <a href="{% url 'Main:write-gallery' %}">
                        <p class="text-center" style="margin-top:10px;">
                            <span>갤러리 작성</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/gallery?page=1&keyword=modify">
                        <p class="text-center" style="margin-top:10px;">
                            <span>갤러리 관리</span>
                        </p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="content">
            {% block gallery_content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}