{% extends 'acinsite/gallery/main.html' %}
{% block  gallery_depth%}
    <div class="depth">
        <span>HOME</span>
        <span>></span>
        <span>GALLERY</span>
        <span>></span>
        <span style="color: rgb(12,92,161);">갤러리 작성</span>
            
    </div>
{% endblock %}
{% block gallery_content %}
    <style>
       #drop{
           width:100%;
           height:500px;
           background: gray;
           text-align: center;
           line-height: 500px;
       }
       li{
           list-style: none;
       }
    </style>
    <script>
        var formData = new FormData();
    </script>
    <form>
        {% csrf_token %}
        <label>제목</label><br>
        <input type="text" class="form-control" {% if obj.gal_title %} value="{{obj.gal_title}}" {% endif %} id="title" placeholder="제목">
        <label>첨부파일</label><br>
        <input type="file" class="form-control" id="atchdFile">
         {% if obj.gal_file %}
         <li>
            <a href="/media/{{obj.gal_file}}" download="download">{{obj.gal_file}}</a><br>
            <a class='btn btn-danger img-mfy-del' file_name="{{obj.gal_file}}" key="atchdFile">삭제</a>
            <script>
                formData.append('atchdFile',"{{obj.gal_file}}");
            </script>
         </li>   
         {% endif %}
        <input type="file" id="file" style="display: none;" multiple="multiple">
        
        <div id="drop">
            <p style="color:white; font-size:20px;">여기에 이미지 드래그 또는 클릭하면 됩니다.</p>
            
        </div>
        <ul id="filename-box">
            {% if obj %}
                {% for o in obj.galleryref.all %}
                <li>
                    <p>
                        {{o.gal_photo}}
                    </p>
                    <a class='btn btn-danger img-mfy-del' file_name="{{o.gal_photo}}" key="file-mfy">삭제</a>
                </li>
                <script>
                    formData.append('file-mfy', "{{ o.gal_photo }}");

                </script>
                {% endfor %}
            {% endif %}
        </ul>
        <input type="button" class="btn btn-info" value="저장" id="submit">
    </form>
    <script>
        
        
        var drop = document.getElementById('drop');
        
        drop.ondragover = function(e) {
            e.preventDefault(); 
        };
        drop.ondrop = function(e) {
            e.preventDefault();
            var data = e.dataTransfer;
            if (data.items) { 
                for (var i = 0; i < data.items.length; i++) {
                    if (data.items[i].type.match(/image.*/)) {
                        
                        var file = data.items[i].getAsFile();
                        formData.append('file', file);
                        console.log(file.name);
                        var tag = $("<li><p>"+file.name+"</p>\
                                    <a class='btn btn-danger img-del' file_name="+file.name+">삭제</a>\
                                    </li>")
                        $("#filename-box").append(tag);
                    }
                }
                
            }
        }
        $("#drop").click(function(){
            $("#file").click();
        });
        var file = document.getElementById('file');
        file.onchange = function(e) {
            var files = e.target.files; // FileList 객체
            console.log(formData);
            for(var i=0; i<files.length; i++){
                formData.append('file',files[i]);
                var tag = $("<li><p>"+files[i].name+"</p>\
                            <a class='btn btn-danger img-del' file_name="+files[i].name+">삭제</a>    \
                            </li>")
                $("#filename-box").append(tag);
            }
        }
        document.getElementById("atchdFile").onchange=function(e){
            var files = e.target.files;
            formData.append('atchdFile',files[0]);
        }

        $(document).on("click",".img-del",function(){
            
            files = formData.getAll('file');
            formData.delete('file');
            
            for(var val of files){
                if(val.name != $(this).attr("file_name")){
                    console.log(val.name);
                    formData.append("file",val);
                }
            }
            console.log(formData.getAll('file'));
            $(this).parent("li").remove();
        });
        $(".img-mfy-del").click(function(){
            
            var file_arr = formData.getAll($(this).attr("key"));
            var index = file_arr.indexOf($(this).attr("file_name"));

            
            if(index != -1){
                formData.delete($(this).attr("key"));
                file_arr.splice(index,1);
                console.log(file_arr);
                for(var val of file_arr){
                    formData.append($(this).attr("key"),val);
                }
            }
            $(this).parent("li").remove();
        });

        $("#submit").click(function(){
                
            formData.append('title',$("#title").val());   
            
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            var url = "";
            if ("{{obj.pk}}"){
                url = "/gallery/write/?pk={{obj.pk}}";
            }else{
                console.log("hello");
                url = "/gallery/write/";
            }
            $.ajax({
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(res){
                    window.location.href="/gallery?page=1";
                }
            });
        });
    </script>
    
{% endblock %}