{% extends 'base.html' %}
{% load static %}
{% block depth %}
    <div class="depth">
        <span>HOME</span>
        <span>></span>
        <span>BOARD</span>
        <span>></span>
        <span style="color: rgb(12,92,161);">DETAIL</span>
    </div>
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/side-bar.css' %}" />

<style>
    .content span{
        display: inline-block;
        margin-left:30px;
    }
    #b-info .info-val{
        color:#b2b2a2;
    }

    #list-btn{
        display: inline-block;
        width:111px;
        height: 36px;
        border: 1px solid #bfbfbf;
        font-size: 20px;
        text-align: center;
        line-height: 36px;
        color:black;
        font-weight: 10px;
        cursor: pointer;
        text-decoration: none;
    }
    #d-btn a{
        display: inline-block;
        margin-right:19px;
        color:#bfbfbf;
    }
</style>
<div class="container-box">
    <div class="nav">
        <div class="nav-header">
           <p>Board</p>
        </div>
        <ul class="nav-list">
            <li>
                <a href="{% url 'Main:Viewboard' %}">
                    <p class="text-center" style="margin-top:10px;">
                        <span>Notice</span>
                    </p>
            </li>
            {% if request.session.user_id %}
            <li>
                <a href="{% url 'Main:Today_Report_Board' %}">
                    <p class="text-center" style="margin-top:10px;">

                        <span>일일보고</span>
                    </p>
                </a>
            </li>
            {% endif %}      
            <li>

                <a href="/gallery?page=1">
                    <p class="text-center" style="margin-top:10px;">
                        <span>Gallery</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <hr style="border:2px solid #555555;">
        <!--title-->
        <h3 style="margin-left:30px;">{{de.board_title}}</h3>
        <hr style="border-color:#bfbfbf;">
        <div id="b-info">
            <span><b>글쓴이</b></span>
            <span class="info-val">{{de.user}}</span>
            <span style="color:#b2b2a2;">|</span>
            <span><b>작성일</b></span>
            <span class="info-val">{{de.board_date}}</span>
            <span style="color:#b2b2a2;">|</span>
            <span><b>조회수</b></span>
            <span class="info-val">{{de.board_hits}}</span>
        </div>
        <hr style="border-color:#bfbfbf;">
        <div style="margin-left:30px;">
            <p>첨부파일</p>
            {% if de.board_file %}
                <a href="/media/{{de.board_file}}" download="download">{{de.board_file}}</a>
            {% else %}
                <p style="color:#bfbfbf;">첨부파일이 없습니다.</p>
            {% endif %}
        </div>
        <hr style="border-color:#bfbfbf;">
        <p style="margin-left:30px;">
            {{de.board_content|safe}}
        </p>
        <hr style="border-color:#bfbfbf;">
        <div class="text-right">
            <div id="d-btn">


                {% if request.session.user_name == de.user.user_name%}

                    <a style="cursor: pointer; color:gray;" onclick="modify_and_delete('mod');">수정</a>
                    <a style="cursor: pointer; color:gray;" onclick="modify_and_delete('del');">삭제</a>
                {% endif %}

            </div>

            <a id="list-btn" href="{% url 'Main:Viewboard' %}">목록</a>
        </div>
        <hr style="border:2px solid #555555;">
        <div id="prev-text">
            <span>
                <b>이전글</b>
            </span>
            <span class="info-val">|</span>
            <span>
                {% if prev_board %}
                    <a href="{% url 'Main:Boarddetail' prev_board.pk %}">{{prev_board.board_title}}</a>
                {% else %}
                    이전글이 없습니다
                {% endif %}
            </span>
        </div>
        <hr style="border-color:#bfbfbf;">
        <div id="next-text">
            <span><b>다음글</b></span>
            <span class="info-val">|</span>
            <span>
                {% if next_board %}
                   <a href="{% url 'Main:Boarddetail' next_board.pk %}">{{next_board.board_title}}</a>

                {% else %}
                    다음글이 없습니다
                {% endif %}
            </span>
        </div>
        <hr style="border-color:#bfbfbf;">
    </div>
    <script>
        function modify_and_delete(type,pk){
            //수정
            if(type == "mod"){
                window.location.href="{% url 'Main:Editboard' de.pk %}";
            }
            //삭제
            else if(type == "del"){
                if(confirm("삭제하시겠습니까?")){
                    window.location.href="{% url 'Main:Deleteboard' de.pk %}";
                }


            }
        }

    </script>
{% endblock %}
