<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <!--제이쿼리-->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        #error_box{
            width:40%;
            height:70px;
            margin-left:35%;
            padding-top:17px;
            color:rgb(217,87,103);
            background-color:rgb(244,204,209);
        }
        #login-form{
            margin-top:100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" id="login-form">
           {% if msg == 'LoginFail' %}
                <div id="error_box">
                    <p id="error_box_text" class="text-center"><i class="glyphicon glyphicon-alert"></i>
                        아이디 또는 비밀번호가 <br/>일치하지 않습니다.</p>
                </div>
                <script>
                    setTimeout(function(){
                        $("#error_box").hide(200);
                    },3000);
                </script>
            {% endif %}    
            <form action="{% url 'Main:login' %}" method="POST">
                {% csrf_token %}
                <label>아이디</label><br>
                <input type="text" class="form-control" name="user_id" id="user-id" placeholder="아이디">
                <p id="id-error-text" style="color:red; display: none;">아이디를 입력해주세요.</p>
                <label>비밀번호</label><br>
                <input type="password" class="form-control" name="user_pw" id="user-pw" placeholder="비밀번호">
                <p id="pw-error-text" style="color:red; display: none;">비밀번호를 입력해주세요.</p><br>
                <input type="submit" class="form-control btn btn-primary" value="로그인">
            </form>
        </div>
    </div> 
    <script>
        $("#user-id").focusout(function(){
            if($(this).val() == ""){
                $("#id-error-text").css("display","block");
                $(this).css("border-color","red");
            }else{
                $("#id-error-text").css("display","none");
                $(this).css("border-color","rgb(204,204,204)");
            }
        });
        $("#user-pw").focusout(function(){
            if($(this).val() == ""){
                $("#pw-error-text").css("display","block");
                $(this).css("border-color","red");
            }else{
                $("#pw-error-text").css("display","none");
                $(this).css("border-color","rgb(204,204,204)");
            }
        });
    </script>
</body>
</html>