{% extends 'acinsite/gallery/main.html' %}
{% block gallery_depth %}

    <div class="depth">
        <span>HOME</span>
        <span>></span>
        <span>GALLERY</span>
        <span>></span>
        <span style="color: rgb(12,92,161);">
            갤러리 보기
        </span>
            
    </div>

{% endblock %}
{% block gallery_content %}
    <style>
        #gal-table{
            margin-top:30px;
            border-top:2px solid gray;
            
        }
        #gal-info span{
            margin-left:15px;
        }
    </style>
    <h4>Gallery</h4>
    <hr>

    <div id="gal-table">
        <h4 style="margin-left:15px;">{{obj.gal_title}}</h4>
        <hr style="border-color: rgb(220,220,220);">
        <div id="gal-info">
            <span><b>작성자</b></span>
            <span>{{obj.user.user_name}}</span>
            <span>|</span>
            <span><b>작성일</b></span>
            <span>{{obj.gal_date|date:"Y-m-d"}}</span>
            <span>|</span>
            <span><b>조회수</b></span>
            <span>{{obj.gal_hits}}</span>
        </div>
        
        {% if obj.gal_file %}
            <div style="margin-left:15px; margin-top:10px;">
                <label>첨부파일</label>
                <p><a href="/media/{{obj.gal_file}}" download="download">{{obj.gal_file}}</a></p>
            </div>
        {% endif %}
        
        <hr style="border-color: rgb(220,220,220);">
        <div id="detail-img-box">
            {% for o in obj.galleryref.all %}
                <div width="700" height="500" style="margin-top:40px;">
                    <img width="100%" height="100%" src="{{o.gal_photo.url}}">
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
