{% for obj in object_list %}
    <div class="project">
        <h4>{{ forloop.revcounter }}. {{obj.perf_title}}({{obj.get_perf_type_display}})</h4>
        <p>{{obj.perf_content}}</p>
        <p>
        {% for u in obj.perf.all %}
            {% if u.user %}
                {{u.user.user_name}},
            {% else %}    
                {{u.other_user}},
            {% endif %}
        {% endfor %}
        </p>
        <p>{{obj.perf_end}}</p>
    </div>    
    <hr>
{% endfor %}