{% extends 'base.html' %}
{% load static %}
{% block depth %}
    <div class="depth">
    <span>HOME</span>
    <span>></span>
    <span style="color: rgb(12,92,161);">INTRODUCTION</span>
    </div>
{% endblock %}
{% block content %}
    <style>
       .intro-section{
           width:1000px;
           height:300px;
           margin:0px auto;
       }
      hr{
          clear: both;
      }
    </style>
     
    <div class="intro-section">
        <h3>BIG DATA</h3>
        <div class="row">
            <p class="col-md-6">
            온라인 정보를 활용한 식당 사용자 패턴 분석, 빅데이터 분석을 이용한 <br>
            식당 지능화 시스템 논문으로 한국지능시스템학회 학술대회 우수논문상 
            수상
            </p>
            <p class="col-md-6">
                <img class="col-md-12" src="{% static 'img/good.jpg' %}">
            </p>
        </div>
    </div>
    <hr>
    <div class="intro-section">
        <h3>WEB</h3>
        <div class="row">
            <p class="col-md-6">
                HTML, JAVASCRIPT, DJANGO, AJAX, PYTHON을 활용한<br> 인사 담당 시스템을 구축중에 있다.
            </p>
            <p class="col-md-6">
                <img class="col-md-12" src="{% static 'img/makehomepage.png' %}">
            </p>
        </div>
    </div>
    <hr>
    <div class="intro-section">
        <h3>APP</h3>
        <div class="row">
            <p class="col-md-6">
                작업예정 
            </p>
            <p class="col-md-6">
                <img class="col-md-12" src="{% static 'img/dog.jpg' %}">
            </p>
        </div>
    </div>

{% endblock %}