{% extends 'base.html' %}
{% load static %}
{% block slider %}
<link href='{% static "packages/core/main.css" %}' rel='stylesheet' />
<link href='{% static "packages/daygrid/main.css" %}' rel='stylesheet' />
<link href='{% static "packages/timegrid/main.css" %}' rel='stylesheet' />
<link href='{% static "packages/list/main.css" %}' rel='stylesheet' />
<script src='{% static "packages/core/main.js" %}'></script>
<script src='{% static "packages/core/locales-all.js" %}'></script>
<script src='{% static "packages/interaction/main.js" %}'></script>
<script src='{% static "packages/daygrid/main.js" %}'></script>
<script src='{% static "packages/timegrid/main.js" %}'></script>
<script src='{% static "packages/list/main.js" %}'></script>


<style>
    body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }
  ul{
    list-style: none;
  }
  #top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
  }

  #calendar {
    max-width: 723px;
    margin-top:20px;
    padding: 0 10px;
  }



  .carousel img{
     width:100%;
     
  }
  
  #board-box{
      width:723px;
      height:200px;
      position: relative;
      border-top:1px solid blue;
      margin-left:80px;
   
  }
  
  #new-board-list{
      width: 325px;
      position:absolute;
      right:0px;
      top:24px;
  }
  #notice{
    position: relative;
    
  }
  #main-notice{
    margin-left:80px;
  }
  #main-gallery{
    position: absolute;
    right: 80px;
    top:-9px;
  }
  #main-intro{
    margin-left:80px;
  }
  #main-gallery .img-box{
    width:200px;
    height:200px;
    
    cursor: pointer;
    margin-top:20px;
    overflow: hidden;
  }
  .intro-box{
    list-style: none;
    width:700px;
    border-top:1px solid blue;
  }
  .intro-box li{
    width:220px;
    height: 149px;
    float: left;
    background:rgb(245,245,245); 
  }
  .intro-box .center-child{
    margin:0 20px;
  }
  .intro-box li p{
    word-wrap: break-word;
  }
  .item{
    width:auto;
    height: 600px;
    background-repeat: no-repeat;
     
    background-position: center;
  }
  #slider1{
    background-image: url("{% static 'img/cb.jpg' %}");
    

  }
  #slider2{
    background-image: url("{% static 'img/cb2.png' %}");
  }
  #slider3{
    background-image: url("{% static 'img/gkrghl6.jpg' %}");
    
  }
  #slider4{
    background-image: url("{% static 'img/meeting.jpg' %}");
    
    
  }
  #board-icon-box{
    width:80px;
    height:130px;
    border: 1px solid rgb(221,221,221);
    margin-left:30px;
    margin-top:20px;
    float: left;
  }
  .new-board{
    width:360px;
    margin-top:30px;
    padding-left:135px;
    
  }
  
</style>
<div id="carousel-example-generic" class="carousel slide" style="clear:both;"  data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" id="slider1"></div>
    <div class="item" id="slider2"></div>
    <div class="item" id="slider3"></div>
    <div class="item" id="slider4"></div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
  <div>
    
  </div>
{% endblock %}

{% block content %}

      <script>
        date_list = []
      </script>
      {% for user in user_birthday %}
          <script>
            var title = "";
            if ("{{user.user_rank}}" == "1"){
                title = "교수님 생일";
            }else{
                title ="{{user.user_name}} 생일";
            }
            date_list.push({
              'title':title,
              'start':"{{cur_date|date:'Y'}}-{{user.user_birthday|date:'m-d'}}"
            })
          </script>
      {% endfor %}

      <div id="notice">
        <div id="main-notice">
          <h4 style="margin-left:80px;">
            Board
          
            <i class="glyphicon glyphicon-plus" style="margin-left:650px; cursor: pointer;" onclick="extends_list('board');"></i>
            
          </h4>
          
          <div id="board-box">
                
              <!--최신순 게시글-->
              <div id="board-icon-box">
                <div class="text-center" style="line-height: 50px;">
                  <img src="{% static 'img/notice_icon.png' %}">
                </div>
                <div class="board-date text-center">
                  {% if today_birth_user %}
                    <span style="color:black;"><b>{{cur_date|date:"m.d"}}</b></span><br>
                    <span>{{cur_date|date:"Y"}}</span>
                  {% else %}
                    {% if board_objs %}
                      <span style="color:black;"><b>{{board_objs.0.board_date|date:"m.d"}}</b></span><br>
                      <span>{{board_objs.0.board_date|date:"Y"}}</span>
                    {% endif %}  
                  {% endif %}  
                </div>
              </div>
              <div class="new-board">
                {% if today_birth_user %}
                  <p style="font-size:20px;">
                        
                      <a style="color:black;">
                        {{today_birth_user.user_name}}님 <br>생일축하합니다.      
                      </a>
                      
                  </p>
                {% else %}
                    {% if board_objs %}  
                        <p style="font-size:20px;">
                      
                          <a href="{% url 'Main:Boarddetail' board_objs.0.pk %}" style="color:black;">
                            {{board_objs.0.board_title}}
                          </a>
                          
                        </p>
                        <p style="color:#696969;">{{board_objs.0.board_date|date:"Y-m-d"}}</p>
                      {% endif %}
                {% endif %}  
              </div>
              
              <ul id="new-board-list">
              {% for obj in board_objs %}
              
                    <li>
                      <p>
                        <b style="color:#696969;">
                          <span style="color:rgb(12,92,161); font-size:15px;">.</span>
                          <a href="{% url 'Main:Boarddetail' obj.pk %}" style="color:#696969;">
                            {{obj.board_title}}
                          </a>
                        </b>
                      </p>
                      <p style="color:#696969; margin-left:10px;">{{obj.board_date|date:"Y-m-d"}}</p>
                    </li>
                   
                
              {% endfor %}  
              </ol>
            </ul>
        </div>
        <div id="main-gallery">
            <h4>
              Gallery
              <i class="glyphicon glyphicon-plus" style="margin-left:119px; cursor: pointer;" onclick="extends_list('gallery')"></i>
            </h4>
           
            {% for obj in gal_objs %}
              <div class="img-box" onclick="gallery_click({{obj.pk}});">
                  <img width="100%" height="180" src="/media/{{obj.galleryref.first.gal_photo}}">
                  <p>{{obj.gal_title}}</p>
              </div>
              
            {% endfor %}  
        </div>
        <h4 style="margin-left:80px; margin-top:50px;">
          Schedule
          
        </h4>
        <div id="main-intro" style="max-width:723px; border-top:1px solid blue;">
          <div id='calendar'></div>
        </div>
        </div>
        </div>
      <script>
        console.log(date_list);
        function gallery_click(pk){
          window.location.href="/gallery/detail/"+pk+"/";
        }
      //  $('.carousel').carousel({
      //   interval: 2000
      //  });
      $('.carousel').carousel();

      document.addEventListener('DOMContentLoaded', function() {
    var initialLocaleCode = 'ko';
    var localeSelectorEl = document.getElementById('locale-selector');
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      defaultDate: '{{cur_date|date:"Y-m-d"}}',
      locale: initialLocaleCode,
      buttonIcons: false, // show the prev/next text
      weekNumbers: true,
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: date_list
    });
      
  
    calendar.render();

    // build the locale selector's options
    calendar.getAvailableLocaleCodes().forEach(function(localeCode) {
      var optionEl = document.createElement('option');
      optionEl.value = localeCode;
      optionEl.selected = localeCode == initialLocaleCode;
      optionEl.innerText = localeCode;
      localeSelectorEl.appendChild(optionEl);
    });

    // when the selected option changes, dynamically change the calendar option
    localeSelectorEl.addEventListener('change', function() {
      if (this.value) {
        calendar.setOption('locale', this.value);
      }
    });

  });


  function extends_list(type){
    if(type == "board"){
      window.location.href="{% url 'Main:Viewboard' %}";
    }else{
      window.location.href="/gallery/?page=1";
    }
  }
      </script>
{% endblock %}
