{% extends 'base.html' %}
{% load static %}

{% block depth %}
<div class="depth">
    <span>HOME</span>
    <span>></span>
    <span style="color: rgb(12,92,161);">MEMBER</span>
</div>
{% endblock %}   
{% block content %}
    <!--외부 css 파일-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/side-bar.css' %}" />
    <style>
        .mem-profile-table {
            width:700px;
            
        }
        .mem-profile-table tr{
            border-top:1px solid #dddddd;
            border-bottom:1px solid #dddddd;
            
        }
        .mem-profile-table td{
            padding: 10px;
        }
        .mem-profile-table-th{
            width:100px;
            border-right:1px solid #dddddd;
        }
    </style> 
    <div class="container-box">
        <div class="nav">
            <div class="nav-header">
               <p>Member</p>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="{% url 'Main:member' %}">
                        <p class="text-center" style="margin-top:10px;">
                            <span>Member</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="content">
            <h4>Member</h4>
            <hr>
            {% for user in users %}
            <div class="member-profile" style="height: 200px;">
                <div style="float: left;">
                    
                    <img width="200" height="200"src="/media/{{user.user_profile}}">
                    
                </div>
                <div>
                    <hr style="border-color:#005da9;">
                    <h4>{{ user.user_name }}</h4>
                    <table class="mem-profile-table">
                            <tr>
                                <td class="mem-profile-table-th"><b>학과</b></td>
                                <td>{{ user.user_major }}</td>
                            </tr>
                        <tr>
                            <td class="mem-profile-table-th"><b>이메일</b></td>
                            <td>{{ user.user_email }}</td>
                        </tr>
                        <tr>

                            <td class="mem-profile-table-th"><b>관심분야</b></td>
                            <td>
                                {% if user.user_interest %}
                                    {{ user.user_interest }}
                                {% endif %} 
                                {% if user.user_interest2%}
                                    , {{user.user_interest2}} 
                                {% endif %} 
                                {% if user.user_interest3 %}
                                    , {{user.user_interest3}}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
            
        </div>
        
    </div>    
{% endblock %}