{% extends 'base.html' %}
{% load static %}
{% block depth %}


<div class="depth">
    <span>HOME</span>
    <span>></span>
    <span style="color: rgb(12,92,161);">PROFESSOR</span>
</div>
{% endblock %}
{% block content %}
    <!--외부 css 파일-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/side-bar.css' %}" />
    
    <style>
        .pro-content{
            width:600px;
            height: 260px;
            background: rgb(128,148,167);
            margin-left:276px;
            padding-top:37px;
        }
        .inner-box{
            width:436px;
            height: 185px;
            border:1px solid white;
            margin:0 auto;
            
        }
        .inner-box p{
            margin-top:24px;
        }
        .inner-box span{
            font-size: 17px;
        }
    </style>    
    <div class="container-box">
        <div class="nav">
            <div class="nav-header">
               <p>Professor</p>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="{% url 'Main:professor' %}">
                        <p class="text-center" style="margin-top:10px;">
                            <span>Professor</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <h4>Professor</h4>
            <hr>
            <div class="profile">
                <div class="profile-img">
                    <img width="200"  height="224" src="/media/{{user.user_profile}}">
                    <h3 style="margin-left:28px;">{{user.user_name}} 교수</h3>
                </div>
                <div class="pro-content">
                    <div class="inner-box">
                        
                        <p>
                            <span style="margin-left:40px; color:rgb(212,228,237);">직위</span> 
                            <span style="margin-left:57px; color:white;">{{user.get_user_rank_display}}</span>
                        </p>
                        <hr width="400" style="margin: 0 auto; border-color:rgb(144,163,180);">
                        <p>
                            <span style="margin-left:40px; color:rgb(212,228,237);">전화번호</span> 
                            <span style="margin-left:29px; color:white;">8496</span>
                        </p>
                        <hr width="400" style="margin: 0 auto; border-color:rgb(144,163,180);">
                        <p>
                            <span style="margin-left:40px; color:rgb(212,228,237);">이메일</span> 
                            <span style="margin-left:44px; color:white;">{{user.user_email}}</span>
                        </p>
                        
                        
                     </div>
                </div>
            </div>
            <!--학력-->
            <h4 style="color:#0f4e78">학력</h4>
            <table class="table">
                <tr>
                    <th>졸업연도</th>
                    <th>학교명</th>
                    <th>학위명</th>
                </tr>
                <tr>
                    <td>{{user.user_doctor_date|date:"Y/m/d"}}</td>
                    <td>{{user.user_doctor}}</td>
                    <td>공학박사</td>
                </tr>
                <tr>
                    <td>{{user.user_master_date|date:"Y/m/d"}}</td>
                    <td>{{user.user_master}}</td>
                    <td>공학석사</td>
                </tr>
                <tr>
                    <td>{{user.user_university_date|date:"Y/m/d"}}</td>
                    <td>{{user.user_university}}</td>
                    <td>공학사</td>
                </tr>
            </table>
            <!--실적-->
            <h4 style="color:#0f4e78">실적</h4>
            <table class="table">
                <tr>
                   <th>구분명</th>
                   <th>학술지명</th>
                   <th>연도</th>
                   <th>발행권페이지</th>
                </tr>
                {% for obj in objects %}
                    <tr>
                        <td>{{obj.performance.get_perf_type_display}}</td>
                        <td>{{obj.performance.perf_title|safe}}</td>
                        <td>{{obj.performance.perf_end|date:"Y/m/d"}}</td>
                        <td>{{obj.performance.perf_etc|safe}}</td>
                    </tr>
                {% endfor %}
                
            </table>
        </div>
        
    </div>
     
{% endblock %}