{% extends 'acinsite/project/main.html' %}
{% block project_depth%}
    <div class="depth">
            <span>HOME</span>
            <span>></span>
            <span>PROJECT</span>
            <span>></span>
            <span style="color: rgb(12,92,161);">
                {% if obj %}
                    프로젝트 수정 
                {% else %}
                    프로젝트 추가
                {% endif %}    
            </span>
    </div>
{% endblock %} 
{% block project_content %}
    <!--토글 스위치-->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <h4>프로젝트 추가</h4>
    <hr>
    <form  {% if obj.pk %}
                action="/project/create/?pk={{obj.pk}}"
            {% else %}
                action="{% url 'Main:create-project' %}" 
            {% endif %}
            method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--pk-->
        
        <label>상태</label><br>
        <input type="checkbox" name="project_status" id="status" data-toggle="toggle" {% if obj.perf_state %} checked {%endif%} data-on="종료" data-off="진행중">
        <br>
        <label>프로젝트 시작일</label><br>
        
        <input type="date" name="start_date" {% if obj.perf_start %}value="{{obj.perf_start|date:'Y-m-d'}}"{% endif %} class="form-control">
        <label>프로젝트 종료일</label><br>
        <input type="date" name="end_date" {% if obj.perf_end %}value="{{obj.perf_end|date:'Y-m-d'}}"{% endif %} class="form-control">
        <label>타입</label><br>
        <select class="form-control" name="project_type">
            <option value="1" {% if obj.perf_typelist == '1' %} selected {% endif %} >프로젝트</option>
            <option value="2" {% if obj.perf_typelist == '2' %} selected {% endif %}>논문</option>
            <option value="3" {% if obj.perf_typelist == '3' %} selected {% endif %}>지식재산권</option>
        </select>
        <label>참연인원</label>
        <div class="prtcPrsn">
            <!--수성시-->
            {% for u in obj.perf.all %}
                {% if u.user %}
                    <div class=mem-box>
                        <select class=form-control name=member>
                        {% for user in users%}
                            <option value={{user.id}} {% if u.user.id == user.id %}selected{% endif %} >{{user.user_name}}</option>
                        {% endfor %}   
                        </select>
                        <input type=button class='btn btn-danger item-del' value=삭제>
                    </div>
                {% else %}
                    <div class=mem-box>
                        <span>이름</span><br>
                        <input type=text class=form-control value="{{u.other_user}}" name=member>
                        <input type=button class='btn btn-danger item-del' value=삭제>
                    </div>
                {% endif %}

            {% endfor %}
            <!--동적 생성-->
        </div>
        <a class="btn btn-info" id="add-member">회원추가</a>
        <a class="btn btn-info" id="add-other-member">기타인원추가</a><br>
        <label>제목</label><br>
        <input type="text" class="form-control" {% if obj.perf_title %} value="{{obj.perf_title}}" {% endif %} name="project_title">
        <label>내용</label><br>
        <textarea rows="3" class="form-control" name="project_content">{{obj.perf_content}}</textarea>
        <label>비고</label><br>
        <textarea rows="2" class="form-control" name="project_etc">{{obj.perf_etc}}</textarea>
        <label>주관</label><br>
        <input type="text" class="form-control" {% if obj.perf_host %}value="{{obj.perf_host}}"{% endif %} name="project_host">
        <label>발주</label><br>
        <input type="text" class="form-control" {% if obj.perf_sponsor %}value="{{obj.perf_sponsor}}"{% endif %} name="project_sponsor">    
        <label>파일</label>
        <input type="file" name="file" value="{{obj.perf_file}}">
          {% if obj.perf_file %}
            <input type="hidden" value="{{obj.perf_file}}" name="old_file">
            <a href="/media/{{obj.perf_file}}">{{obj.perf_file}}</a>
          {% endif %}
        <br>

        <div> 
            <input type="submit" value="저장" class="btn btn-primary">
        </div>
    </form>
    <script>
        

       function append_person(type,name=null){
           var tag = "";
           if(type == "member"){
                tag = $("\
                        <div class=mem-box>\
                        <select class=form-control name=member>\
                            <option>멤버선택</option>\
                        {% for user in users%}\
                            <option value={{user.id}}>{{user.user_name}}</option>\
                        {% endfor %}   \
                        </select>\
                        <input type=button class='btn btn-danger item-del' value=삭제>\
                        </div>");
                        
           }else{
                tag = $("\
                        <div class=mem-box\
                        <span>이름</span><br>\
                        <input type=text class=form-control name=member>\
                        <input type=button class='btn btn-danger item-del' value=삭제>\
                        </div>\
                        ");
           }
           
        $(".prtcPrsn").append(tag);            
       }
       $("#add-member").click(function(){
            append_person("member");

       });
       $("#add-other-member").click(function(){
            append_person("other");
       });
       // 멤버 필드 삭제
      $(document).on("click",".item-del",function(){
          $(this).parent(".mem-box").remove();
      });
    </script>
{% endblock %}