{% extends 'base.html' %}
{% load static %}
{% block depth %}
    {% block project_depth %} 
    {% endblock %}
{% endblock %}
{% block content %}
    <!--외부 css 파일-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/side-bar.css' %}" />
    
    <div class="container-box">
        <div class="nav">
            <div class="nav-header">
               <p>Project</p>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="{% url 'Main:project' %}">
                        <p class="text-center" style="margin-top:10px;">
                            <span>프로젝트</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/project/proceeding/">
                        <p class="text-center" style="margin-top:10px;">
                            <span>진행중인 프로젝트</span>
                        </p>
                    </a>
                </li>
                {% if request.session.user_id %}
                <li>
                    <a href="{% url 'Main:create-project' %}">
                        <p class="text-center" style="margin-top:10px;">
                            <span>프로젝트추가</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'Main:modify-list' %}">
                        <p class="text-center" style="margin-top:10px;">
                        <span>프로젝트수정</span>
                        </p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="content">
            {% block project_content %}

            {% endblock %}
        </div>
    </div>    
{% endblock %}