{% extends 'acinsite/project/main.html' %}
{% block project_depth%}
    <div class="depth">
            <span>HOME</span>
            <span>></span>
            <span>PROJECT</span>
            <span>></span>
            <span style="color: rgb(12,92,161);">
                프로젝트 수정  
            </span>
    </div>
{% endblock %} 
{% block project_content %}


<style>
  .card{
      border:1px solid rgb(85,85,85);
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      margin-top:30px;
  }
  .card-header{
      height: 50px;
      background: #A4A4A4;
      font-size: 20px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      

  }
.card-body p{
    margin-left:30px;
}  
</style>
    {% for obj in object_list %}
        <div class="card" style="width: 100%; ">
            <div class="card-header">
                <p>
                    {% if obj.perf_state %}  
                        종료
                    {% else %}
                        진행중
                    {% endif %}
                    ({{obj.get_perf_type_display}})
                </p>    
            </div>
            <div class="card-body">
                <h4>{{obj.perf_title}}</h4>
                <p>{{obj.perf_content}}</p>
                <p>
                    {% for u in obj.perf.all %}
                        {% if u.user %}
                            {{u.user.user_name}},
                        {% else %}
                            {{u.other_user}},    
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <form action="{% url 'Main:create-project' %}" method="GET">
                
                <input type="hidden" name="pk" value="{{obj.pk}}">
                <input type="submit" class="btn btn-info" value="수정">
                <a class="btn btn-danger project-del" pk="{{obj.pk}}">삭제</a>
            </form>
            
        </div>
    {% endfor %}
    <script>
        $(".project-del").click(function(){
            if(confirm('삭제하겠습니까?')){
               window.location.href="/project/delete/"+$(this).attr("pk")+"/"; 
            }
        });
    </script>
{% endblock %}