{% extends 'acinsite/project/main.html' %}
{% block project_depth%}
    <div class="depth">
            <span>HOME</span>
            <span>></span>
            <span>PROJECT</span>
            <span>></span>
            <span style="color: rgb(12,92,161);">
                {% if type == 'finish' %}
                    프로젝트
                {% else %}
                    진행중인 프로젝트
                {% endif %}    
            </span>
    </div>
{% endblock %}  
{% block project_content %}
    <style>
        .project{
            padding:15px;
        }
        .project p{
            color:#666666;
            margin-left:40px;
        }
    </style>
    
    <h4>
        {% if type == 'finish' %}
            프로젝트
        {% else %}
            진행중인 프로젝트
        {% endif %}        
    </h4>
    <hr>
    <!--종료된 프로젝트이면-->
    {% if type == 'finish' %}
        <label>연도선택</label>
        <select class="form-control" id="project-year">
            <option value="all">전체</option>
            {% for year in year_list %}
                <option value="{{year}}">{{year}}</option>
            {% endfor %}
        </select>
    {% endif %}   
    <div id="project-box" style="margin-top:30px;">
        {% for obj in object_list %}
            <div class="project">
                <!--제목-->
                <h4>{{ forloop.revcounter }}. {{obj.perf_title}}({{obj.get_perf_type_display}})</h4>
                <!--내용-->
                <p>{{obj.perf_content}}</p>
                <!--참여인원-->
                <p>
                {% for u in obj.perf.all %}
                    {% if u.user %}
                        {{u.user.user_name}},
                    {% else %}
                        {{u.other_user}},    
                    {% endif %}
                {% endfor %}
                </p>
                <!--날짜-->
                <p>
                    {% if type == 'finish' %}
                        {{obj.perf_end}} 
                    {% else %}
                        {{obj.perf_start}}~
                    {% endif %}        
                </p>
            </div>    
            <hr>
        {% endfor %}
    </div>
    <script>
      $("#project-year").change(function(){
        $.ajax(
            {
                type : 'POST',
                url : "{% url 'Main:ajax-project' %}",
                data : { 
                    'csrfmiddlewaretoken' : '{{csrf_token}}',
                    'year':$(this).val(),
                },
                success : function(res){
                    $("#project-box").children().remove();
                    $("#project-box").append(res);
                },
                error : function(res){
                    alert("오류가 발생했습니다.");
                }
            }
        );
      });
    </script>
{% endblock %}