{% extends 'acinsite/mypage/main.html' %}
{% load static %}
{% block mypage_content %}
    <style>
        #mem-profile{
            width:100%;
            height: 270px;
            border: 1px solid #dddddd;
        }
        #mem-profile img{
            float: left;
            margin-left:30px;
            margin-top:30px;
            margin-right: 100px;
        }
        #mem-profile ul{
            list-style: none;
            margin-top:30px;
           
        }
        #mem-profile li{
            margin-top:10px;
        }
        .key{
            color: #0f4e78;
            background:#f5f6f8;
            font-weight: bold;
        }
        
    </style>
    <h4>Mypage</h4>
    <hr>
    
    <div id="mem-profile">
        
        <img width="200" height="200" src="/static/img/{{user.user_profile}}">
        <ul>
            <li style="color:#0f4e78; font-size: 20px;">{{user.user_name}}</li>
            <li style="color:#757575;">{{user.user_number}}</li>
            <li style="color:#757575;">{{user.user_major}}</li>
        </ul>
        <div style="clear:both; margin-left:95px;">
            <a href="#">프로필 변경</a>
        </div>
    </div>
    <div id="mem-info">
        <table class="table" style="margin-top:30px;">
            <tr>
                <td class="col-md-2 key">아이디</td>
                <td class="col-md-10">{{user.user_number}}</td>
            </tr>
            <tr>
                <td class="col-md-2 key">이름</td>
                <td class="col-md-10">{{user.user_name}}</td>
            </tr>
            <tr>
                <td class="col-md-2 key">소속</td>
                <td class="col-md-10">{{user.user_major}}</td>
            </tr>
            <tr>
                <td class="col-md-2 key">생년월일</td>
                <td class="col-md-10">{{user.user_birthday}}</td>
            </tr>
            <tr>
                <td class="col-md-2 key">휴대전화</td>
                <td class="col-md-12">{{user.user_phone}}</td>
            </tr>
            <tr>
                <td class="col-md-2 key">직위</td>
                <td class="col-md-10">{{user.get_user_rank_display}}</td>
            </tr>
            
                <tr>
                    <td class="col-md-2 key">고등학교</td>
                    <td class="col-md-10">
                        {% if user.user_highschool %}
                            {{user.user_highschool}}
                        {% else %} 
                            <span style="color:#757575;">정보가 없습니다.</span>
                        {% endif %}    

                    </td>
                </tr>
            
            
                <tr>
                    <td class="col-md-2 key">대학교</td>
                    <td class="col-md-10">
                        {% if user.user_university %}
                            {{user.user_university}}
                            {% if user_university_date %}
                                (공학사)
                            {% else %}
                                (재학)    
                            {% endif %}
                        {% else %}    
                            <span style="color:#757575;">정보가 없습니다.</span>
                        {% endif %}    
                    </td>
                </tr>
                
            
        </table>
    </div>

{% endblock %}