{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'document/css/main.css' %}">
    <!--제이쿼리-->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% block style %}
    {% endblock %}
    <style>
        *{margin:0; padding:0;}
        #container{
            width:1200px;
            margin:0 auto;
        }
        #header{
            position: relative;
            margin-top:20px;
            height:55px;
        }
        .header-item{
            float: left;
            
        }
        .header-text{
            margin-left:80px;
        }
        .header-item a{
            color:#555555;
        }
       
        #footer{
            width:100%;
            
            clear: both;
            background-color: rgb(51,51,51);
            margin-top:30px;
        
        }
        #footer p{
            float: left;
        }
       
        .depth{

        height:40px;
        text-align: right;
        padding-right: 160px;
        background: rgb(234,234,234);
        margin-top:20px;
        line-height: 40px;

        }
        .depth span{
        color:rgb(102,102,102);
        margin-left:10px;
        font-size: 15px;
        font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="header">
            <div class="header-item">
                <a href="{% url 'Main:main' %}">
                    <img width="100" height="40" src="{% static 'img/logo.jpeg' %}">
                </a>
            </div>
            <div class="header-item header-text">
                <h4><a href="{% url 'Main:intro' %}">Introduction</a></h4>
            </div>
            <div class="header-item header-text">
                <h4><a href="{% url 'Main:professor' %}">Professor</a></h4>
            </div>
            <div class="header-item header-text">
                <h4><a href="{% url 'Main:member' %}">Member</a></h4>
            </div>
            <div class="header-item header-text">
                <h4><a href="{% url 'Main:project' %}">Project</a></h4>
            </div>
            <div class="header-item header-text">
                <h4><a href="{% url 'Main:Viewboard' %}">Board</a></h4>
            </div>
            {% if s_user %}
                <div class="header-item header-text">
                    <h4><a href="{% url 'document:document-main' %}">결재</a><span class="badge-jy">{{report_cnt}}</span></h4>
                    
                </div>
            {% endif %}
            
            <div class="header-item" style="position: absolute; right:0px;">
                {% if request.session.user_id %}
                    <h4>
                            
                        <i class="glyphicon glyphicon-user"></i>
                        <a style="padding-right:10px;"  style="color:black"><b>{{ request.session.user_name }}</b></a>
                        <a href="{% url 'Main:logout' %}" style="color:black"><b>로그아웃</b></a>
                    </h4>
                {% else %}
                    
                    <h4><a href="{% url 'Main:login' %}" style="color:black;"><b>로그인</b></a></h4>
                {% endif %}    
            </div>
        </div>
        
       
             
    </div>
    {% block slider %}
    {% endblock %}
    {% block depth %}

    {% endblock %}
    <div style="width:1200px; margin:0 auto;">
        {% block content %}

        {% endblock %}    
    </div>
    <hr>

    <div id="footer" class="text-center">
            <p class="col-md-4"><img width="90" height="30" src="{% static 'img/logo.jpeg' %}"></p>
            <p class="col-md-4">
                    연구실 위치 : 청주대학교 이공대 구관 07-326호<br>
                    연구실 관련 문의 - 연락처 : 043-229-8496<br>
                                    Email : syr94@daum.net
            </p>
            <p class="col-md-4">
                <img height="30" src="{% static 'img/cjubiglogo.png' %}">
            </p>
    </div>
</body> 
</html>