{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--외부 css 파일-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/side-bar.css' %}" />
    <div class="container-box">
        <div class="nav">
            <div class="nav-header">
               <p>Mypage</p>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="{% url 'Main:project' %}">
                        <span style="display:block; position: absolute;top:0px; left: 0;">회원정보 수정</span>
                        <span style="display:block; position: absolute;top:0px; right:0;" ><b>---</b></span>
                    </a>
                </li>
                <li>
                    <a href="/project/proceeding/">
                        <span style="display:block; position: absolute;top:0px; left: 0;">비밀번호 변경</span>
                        <span style="display:block; position: absolute;top:0px; right:0;" ><b>---</b></span>

                    </a>
                </li>
                <li>
                    <a href="/project/proceeding/">
                        <span style="display:block; position: absolute;top:0px; left: 0;">프로젝트</span>
                        <span style="display:block; position: absolute;top:0px; right:0;" ><b>---</b></span>
                    </a>
                </li>
                <li>
                    <a href="/project/proceeding/">
                    <span style="display:block; position: absolute;top:0px; left: 0;">논문</span>
                    <span style="display:block; position: absolute;top:0px; right:0;" ><b>---</b></span>
                        
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            {% block mypage_content %}

            {% endblock %}
        </div>
    </div>    
{% endblock %}